/* Responsive Navigation Menu */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: powderblue;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#v 
{
  color: violet;
}
#i
{
  color: indigo;
}
#b
{
  color: blue;
}
#g
{
  color: green;
}
#y
{
  color: yellow;
}
#o
{
  color: orange;
}
#r
{
  color: red;
}

/* Parallax Scrolling */
body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('https://c.tenor.com/-dqXRCaLomsAAAAC/free-fire-free-fire-emote.gif');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px,100px,100px,100px;
}
.parallax1 {
  /* The image used */
  background-image: url('https://c.tenor.com/-z7iPuZ_u2gAAAAd/bombonff-hearts.gif');

  /* Full height */
  height: 100%; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px,100px,100px,100px;
  
}

/* Sticky Navbar */

body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}



.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}



